.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 300px;
  height: 150px;
  border-radius: 0.5r em;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.submitBtn {
  width: 120px;
  height: 48px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 55px;
}

.submitBtn:hover {
  color: #fff;
  background-color: #216282;
  opacity: 0.9;
}

.mainBtn {
  width: 120px;
  height: 48px;
  text-align: center;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.mainBtn:hover {
  color: #fff;
  background-color: #216282;
  opacity: 0.9;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #216182;
  padding-left: 40%;
}